body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#content {
    flex: 1;
}

#btnInfo,
#btnContato {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #dc7908;
    font-size: 12pt;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.success-message {
    color: green;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}


#head {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

#logo {
    width: 250px;
    height: 115px;
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: 15px;
}

#botaoMenuInicial {
    width: 50px;
    height: 50px;
    background-color: #f78d11;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.linhabotao {
    width: 70%;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 10px;
}

.menu {
    width: 300px;
    height: 400px;
    display: none;
    position: absolute;
    top: 60px;
    right: 25px;
    background-color: #f78d11;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scaleY(0);
    transform-origin: top;
}

.menu.show {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 14px;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: white;
    align-items: center;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}


#corpoInstituicao {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

#container {
    width: 90%;
    max-width: 1200px;
}

#info {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

#info h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 36px;
    color: #dc7908;
    margin: 0;
}

#info p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
}

#classificacao {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#classificacao a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Arial';
    font-size: 18px;
    font-weight: bold;
    background-color: #dc7908;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

#classificacao a:hover {
    color: #c76a00;
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.blocos {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.blocos h3 {
    font-family: 'Arial';
    font-size: 28px;
    color: #dc7908;
    margin: 0 0 10px 0; 
    text-align: center;
    font-weight: bold;
}

.blocos p {
    font-family: 'Arial';
    font-size: 16px;
    color: #5e5e5e;
    text-align: justify;
}




.blocos h4 {
    font-family: 'Arial';
    font-size: 20px;
    color: #dc7908;
    margin: 20px 0 10px 0;
    text-align: left;
    font-weight: bold; 
}

#divisao {
    background-color: orange;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}






#divisao {
    background-color: orange;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

#footer {
    display: flex;
    align-items: flex-start; /* Alinhar os itens ao topo */
    justify-content: center;
    gap: 50px;
}

.retangulo {
    width: 500px;
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 50px;
    padding-right: 5px;
}

.retangulo h1 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 26pt;
    margin-bottom: 20px;
}

label {
    color: white;
    font-family: Arial;
    font-size: 13pt;
}
#icons{
    position:absolute;
    left:403px;
    bottom:-1650px;
    text-align:center;
}
#icons i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#icons #face:hover{
    color:#4267B2;
}
#icons #you:hover{
    color:#FF0000;
}
#icons #insta:hover{
    color:#E1306C;
}

#iconsCR1 i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#iconsCR1 #face:hover{
    color:#4267B2;
}
#iconsCR1 #you:hover{
    color:#FF0000;
}
#iconsCR1 #insta:hover{
    color:#E1306C;
}

#iconsCR2 i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#iconsCR2 #face:hover{
    color:#4267B2;
}
#iconsCR2 #you:hover{
    color:#FF0000;
}
#iconsCR2 #insta:hover{
    color:#E1306C;
}

#iconsCR3 i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#iconsCR3 #face:hover{
    color:#4267B2;
}
#iconsCR3 #you:hover{
    color:#FF0000;
}
#iconsCR3 #insta:hover{
    color:#E1306C;
}

#iconsCR4 i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#iconsCR4 #face:hover{
    color:#4267B2;
}
#iconsCR4 #you:hover{
    color:#FF0000;
}
#iconsCR4 #insta:hover{
    color:#E1306C;
}

.inputs {
    width: calc(100% - 22px);
    border: 1px solid rgb(223, 171, 74);
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#mensg {
    width: calc(100% - 22px);
    height: 130px;
    resize: none;
    border: 1px solid rgb(223, 171, 74);
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#btnInfo,
#btnContato {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    font-size: 16pt;
    color: rgb(248, 171, 4);
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnInfo:hover,
#btnContato:hover {
    background-color: #ff7300;
    color: white;
}

.success-message {
    color: green;
    font-size: 12px;
    display: none;  
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}


.smooth-scroll {
    cursor: pointer;
}