/* Cabeça estilizada da página */
body{
    padding:0px;
    margin:0px;

}

#head {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo dentro de #head */
    justify-content: space-between;
    padding: 0 10px; /* Espaçamento interno do contêiner #head */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

#logo {
    width: 250px; /* Define a largura do contêiner do link */
    height: 115px; /* Ajusta a altura do contêiner para coincidir com #head */
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 100%; /* Limita a largura da imagem a 100% da largura do contêiner #logo */
    max-height: 100%; /* Limita a altura da imagem a 100% da altura do contêiner #logo */
    object-fit: contain; /* Garante que a imagem mantenha suas proporções */
    margin-left: 15px;
}


/*MENU HAMBURGUE */
#botaoMenuInicial {
    width: 50px;
    height: 50px;
    background-color: #F78D11;
    margin-right: 40px; /* Ajuste o valor conforme necessário */
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    padding: 0;
    cursor:pointer;
    border:none;
    border-radius:5px;
}

.linhabotao {
    width: 70%;
    height: 5px;
    background-color: #ffffff;
    margin: 4px 0; /* Espaçamento vertical entre as linhas */
    border-radius: 10px;
}

.menu {
    width:300px;
    height:400px;
    display: none; /* Esconde o menu inicialmente */
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    right: 25px; /* Ajuste conforme necessário */
    background-color: #F78D11;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave para opacidade e transform */
    transform: scaleY(0); /* Inicialmente encolhe verticalmente */
    transform-origin: top; /* Define a origem da transformação */
}

.menu.show {
    display: block;
    opacity: 1; /* Torna o menu visível */
    transform: scaleY(1); /* Expande verticalmente */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.menu li {
    margin: 14px;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: white;
    align-items:center;
    font-weight:bold;
    font-family:Comic Sans MS;
}


/*Estilizando para colcoar as fotos*/

#textoTitulo{
    font-family: Arial;
}

#corpo {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#corpoParaTerFoots {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento de 20px entre as imagens */
    padding: 0 25px; /* Espaço de 25px nas bordas laterais */
    justify-content: flex-start; /* Alinha as imagens à esquerda */
    background-color: #f5f5f5;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

#corpoParaTerFoots img {
    background-color: #dedede;
    width: calc(25% - 20px); /* Calcula a largura para 4 imagens por linha, considerando o espaçamento */
    height: 250px; /* Altura um pouco maior para as imagens */
    object-fit: cover; /* Garante que as imagens mantenham suas proporções e cubram a área disponível */
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para expansão e sombreamento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreamento de fundo */
}

#corpoParaTerFoots img:hover {
    transform: scale(1.1); /* Expande a imagem ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta o sombreamento ao passar o mouse */
}




/*footer*/
#divisao {
    background-color: orange;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

#footer {
    display: flex;
    align-items: flex-start; /* Alinhar os itens ao topo */
    justify-content: center;
    gap: 50px;
}

.retangulo {
    width: 500px;
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 50px;
    padding-right: 5px;
}

.retangulo h1 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 26pt;
    margin-bottom: 20px;
}

label {
    color: white;
    font-family: Arial;
    font-size: 13pt;
}
#icons{
    position:absolute;
    left:403px;
    bottom:-540px;
    text-align:center;
}
#icons i {
    font-size: 24px;
    color: white;
    margin: 0 30px;
    transition:color 0.5s;
}
#icons #face:hover{
    color:#4267B2;
}
#icons #you:hover{
    color:#FF0000;
}
#icons #insta:hover{
    color:#E1306C;
}
.inputs {
    width: calc(100% - 22px);
    border: 1px solid rgb(223, 171, 74);
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#mensg {
    width: calc(100% - 22px);
    height: 130px;
    resize: none;
    border: 1px solid rgb(223, 171, 74);
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#btnInfo,
#btnContato {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    font-size: 16pt;
    color: rgb(248, 171, 4);
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnInfo:hover,
#btnContato:hover {
    background-color: #ff7300;
    color: white;
}

.success-message {
    color: green;
    font-size: 12px;
    display: none;  
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.smooth-scroll {
    cursor: pointer;
}

