<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h4 class="evento">EVENTO</h4>
            <h2 class="nomeEvento">SA de Junho no Lar da Criança</h2>
            <p class="dataEvento">22 de março de 2024 </p>
            <p class="descricaoEvento">DATA: 16/06</p>
        </div>

        <div class="textoInformativo">
            
            <img class="FotoMexendoNela" src="/FotosEventos/CME-2024-2.jpg"/>

            <p>É hora de retornar as atividades escolares das nossas crianças, e como todo início de ano, a projeto social Sempre Criança organiza a 10ª Campanha de Material Escolar visando impactar diretamente na educação de mais de mil crianças e jovens em situação de vulnerabilidade social.</p>
            <p>O foco da campanha é fortalecer o ambiente educativo de até 11 iniciativas comunitárias que atuam em contra turno escolar em Niterói, por meio da doação de materiais pedagogicos, como lápis de cor, hidrocor, tinta guachê, resma de papel, além é claro de lápis, borracha, apontador e caderno.</p>
            <p>Com apenas R$ 35, você pode apadrinhar uma criança e fazer parte dessa corrente de solidariedade. Ou, você pode ajudar levando o material diretamente aos pontos de recolhimento.</p>
            <h2>Como contribuir</h2>

            <h3>BANCO DO BRASIL</h3>
            <p>Ag.: 2907-6<br>
                CC.: 150835-0<br>
                CNPJ: 12.629.489/0001-44<br>
                Razão social: Sempre Crianca<br>
                pix@semprecrianca.org</p>
            <p>Cartão de crédito: https://pag.ae/7-9F_vW2P</p> <!--Redirecionar para outra página-->

            <h3>Pontos de recolhimento:</h3>

            <p>Studio AB Matos<br>
                Largo da Batalha<br>
                Centro Comercial Alves Da Cunha<br>
                Seg a Sexta – 10 às 17h</p>
            
            <p>Loja Haira<br>
                Pendotiba<br>
                Shopping Pendotiba: Estrada Caetano Monteiro, 818, loja 111</p>

            <p>O valor arrecadado será revertido em resmas de papel A4, lápis, borracha, lápis de cor, giz de cera, hidrocor, tinta guache, cartolina, papel pardo, cadernos e etc.</p>

            <h2>Instituições que serão beneficiadas e suas áreas de atuação:</h2>

            <p>Casa Reviver – Morro do Estado<br>
                Projeto Acolher – Rio do Ouro<br>
                Projeto Recrer&Ação – Viradouro<br>
                Lar Os Girassóis – Morro do Céu<br>
                Lar da Criança – Atalaia<br>
                Orfanato Santo Antônio – Fonseca<br>
                CCDIA – Centro<br>
                Transformart – Fonseca<br>
                Turma da Sopa – Fonseca<br>
                Creche Raiz de Davi – Amendoeira (SG)<br>
                Projeto Primeira Chance – Morro da Coruja (SG)</p>

            <h2>Faça parte desta causa e compartilhe!</h2>

            <p>Você pode doar até 15/03.</p>
        
        </div>
    </div>
</div>

<script src="scriptPagEventos.js"></script>
</body>
</html>