<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="styleEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>
    
<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<!--Tem que colocar - data-url="" para pdoer ser redirecionado-->
<div id="fundo">
    <!--Colocando 16 eventos aqui dentro-->

    <div class="blocos" data-href="eventoPizza7abt24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">Pizza Solidária</h2>
        <p class="dataEvento">7 de abril de 2024</p>
        <p class="descricaoEvento">Comer pizza é muito bom, e ainda mais quando uma fatia é revertida em solidariedade </p>
    </div>

    <div class="blocos" data-href="eventoSAJunhoRecrerEAcao.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Junho no Recre&Ação</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">DATA: 29/06 TEMA:Em breve Querido Voluntário, Temos um encontro marcado no domingo, dia 29/06! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para […]</p>
    </div>

    <div class="blocos" data-href="IIISempreSaude24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">III Sempre Saúde 2024</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">Querido Voluntário, Acontece no próximo dia 22 de junho a terceira edição do Sempre Saúde em 2024, com foco em Saúde Bucal, Alimentação Saudável e Saúde Emocional. Acontecerá no Recrer&Ação com a crianças, jovens e seus responsáveis. Proporcionaremos para as crianças uma manhã de palestras, brincadeiras, educação e prevenção da saúde bucal e atendimento individualizado […]</p>
    </div>

    <div class="blocos" data-href="SAJunhoLarDaCrianca.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de junho no Lar da Criança</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">DATA: 16/06 TEMA: Em breve Querido Voluntário, Temos um encontro marcado no domingo, dia 16/06! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para […]</p>
    </div>

    <div class="blocos" data-href="IIBazarSolidario.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">II Bazar solidário 2024</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">Querido Voluntário, Nosso Bazar Solidário acontece no dia 08 de junho e tem como objetivo proporcionar o acesso a roupas de qualidade por um valor acessível. Estamos aceitamos doações de brinquedos, livros infantis, roupas femininas, masculinas e infantis, acessórios, itens de cama, mesa e banho. Ressaltamos que as doações devem estar em boas condições de uso. Se […]</p>
    </div>

    <div class="blocos" data-href="PrimeiroSempreSaude24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">Primeiro Sempre Saúde 2024</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">Querido Voluntário, Acontece no próximo dia 20 a primeira edição do Sempre Saúde em 2024, com foco em Saúde Bucal, Alimentação Saudável e Saúde Emocional. Acontecerá no Recrer&Ação com a crianças, jovens e seus responsáveis. Proporcionaremos para as crianças uma manhã de palestras, brincadeiras, educação e prevenção da saúde bucal e atendimento individualizado para avaliação […]</p>
    </div>

    <div class="blocos" data-href="SAMaioRecrerEAcao.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Maio no Recrer&Ação</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">DATA: 25/05 TEMA: Em breve Querido Voluntário, Temos um encontro marcado no domingo, dia 05/05! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para […]</p>
    </div>

    <div class="blocos" data-href="SAMaioRecrerEAcao.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Maio no Lar da Criança</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">DATA: 05/05 TEMA: Em breve Querido Voluntário, Temos um encontro marcado no domingo, dia 05/05! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para marca […]</p>
    </div>

    <div class="blocos" data-href="IBazarSolidario24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">I Bazar solidário de 2024</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">Querido Voluntário, Nosso Bazar Solidário acontece no dia 06 de abril e tem como objetivo proporcionar o acesso a roupas de qualidade por um valor acessível. Estamos aceitamos doações de brinquedos, livros infantis, roupas femininas, masculinas e infantis, acessórios, itens de cama, mesa e banho. Ressaltamos que as doações devem estar em boas condições de uso. Se […]</p>
    </div>

    <div class="blocos" data-href="IIISempreSaude24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">II Sempre Saúde 2024</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">Querido Voluntário, No dia 18 de maio a segunda edição do Sempre Saúde em 2024, com foco em Saúde Bucal, Alimentação Saudável e Saúde Emocional. Proporcionaremos para as crianças uma manhã de palestras, brincadeiras, educação e prevenção da saúde bucal e atendimento individualizado para avaliação bucal e aplicação de flúor. Além do aprendizado, da diversão […]</p>
    </div>

    <div class="blocos" data-href="SAAbrilRecrerEAcao.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Abril no Recrer&Ação</h2>
        <p class="dataEvento">22 de março de 2024</p>
        <p class="descricaoEvento">DATA: 27/04 TEMA: Teatro Querido Voluntário, No dia 20/04 temos um encontro marcado às 09h! As crianças do Recrer&Ação estão ansiosas para encontrar com você. Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Será uma manhã de arte e aprendizados, não perca! Deixa a pipoca […]</p>
    </div>

    <div class="blocos" data-href="SAAbrilRecerEAcaoquatorzequatro.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Abril no Lar da Criança</h2>
        <p class="dataEvento">22 de marco de 2024</p>
        <p class="descricaoEvento">DATA: 14/04 TEMA: Contação de Histórias Querido Voluntário, Temos um encontro marcado no domingo, dia 14/04! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para […]</p>
    </div>

    <div class="blocos" data-href="SAMarco24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">SA de Março</h2>
        <p class="dataEvento">4 de março de 2024</p>
        <p class="descricaoEvento">DATA: 10/03 TEMA: Tarde de Brincadeiras Querido Voluntário, Temos um encontro marcado neste domingo, 10/03! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna. E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes! Para […]</p>
    </div>

    <div class="blocos" data-href="dezCampanhaMaterialEcolar24.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">10a Campanha de Material Escolar</h2>
        <p class="dataEvento">27 de janeiro</p>
        <p class="descricaoEvento">Com apenas R$ 35, você pode apadrinhar uma criança e fazer parte dessa corrente de solidariedade.</p>
    </div>

    <div class="blocos" data-href="IISempreSaude23.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">II Sempre Saúde</h2>
        <p class="dataEvento">3 de setembro de 2023</p>
        <p class="descricaoEvento">Querido Voluntário, Acontece no próximo dia 30 a segunda edição do Sempre Saúde em 2023, com foco em Saúde Bucal e Alimnetação Saudável. Desta vez acontecerá no Centro de Acolhimento Lélia Gonzalez com a crianças e jovens. Proporcionaremos para as crianças uma manhã de palestras, brincadeiras, educação e prevenção da saúde bucal e atendimento individualizado […]</p>
    </div>

    <div class="blocos" data-href="DecimaPrimeiraFeijoada23.html">
        <h4 class="evento">EVENTO</h4>
        <h2 class="nomeEvento">11a Feijoada Beneficiente</h2>
        <p class="dataEvento">3 de setembro de 2023</p>
        <p class="descricaoEvento">Querido Voluntário, Teremos Feijoada Beneficente do Sempre Criança, siim! Nossa 11a Feijoada Beneficente acontece no dia 11/11, no salão principal do Praia Clube São Francisco e esperamos você! Será uma tarde de muita música, comida boa, brincadeiras para os pequenos e um tempero especial: Amor ao próximo! Teremos a feijoada tradicional pelas mãos da Casa […]</p>
    </div>
</div>

<div id="divisao"></div>
<div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
            <label>Email:
                <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
            </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>

<script src="scriptEventos.js"></script>
</body>
</html>