<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h4 class="evento">EVENTO</h4>
            <h2 class="nomeEvento">I Bazar Solidário 2024</h2>
            <p class="dataEvento">22 de março de 2024</p>
        </div>

        <div class="textoInformativo">
            <h2>Querido Voluntário,</h2>
            <p>Nosso Bazar Solidário acontece no dia 06 de abril e tem como objetivo proporcionar o acesso a roupas de qualidade por um valor acessível.</p>
            <p>Estamos aceitamos doações de brinquedos, livros infantis, roupas femininas, masculinas e infantis, acessórios, itens de cama, mesa e banho. Ressaltamos que as doações devem estar em boas condições de uso.</p>
            <p>Se você possui uma loja ou conhece alguém que possa se interessar em se tornar um parceiro, entre em contato conosco! Também aceitamos doações de peças com pequenos defeitos de fabricação.</p>
            <p>Endereço: Rua Mario Viana, 818</p>
            <p>Horário: 09 às 13h</p>
            <h3>COMO PARTICIPAR?</h3>
            <p>Arrumou o armário e viu que tem alguma roupa que não combina mais com você? Fala com a gente!</p> <!--Colcoar link Fala com a gente redirecionando-->
            <p>Ah, atenção: é importante que as doações sejam de produtos em bom estado, pois outras pessoas vão comprar e usá-los por muito tempo ainda.</p>
            <h3>QUERO DOAR, COMO EU FAÇO?</h3>
            <p>Entre em contato conosco para agendar a sua entrega: Whatsapp: 21 99572-0162 ou clique aqui.</p> <!--Redirecionar o clique aqui-->
            <h3>PROMOVA O CONSUMO SUSTENTÁVEL!</h3>
            <p>Doar peças em bom estado contribui para suprir um item básico para outra pessoa: VESTIMENTA DE QUALIDADE E PREÇO BAIXO. É também muito importante na questão ambiental, é um consumo sustentável!</p>

            <img class="FotoMexendoNela" src="/FotosEventos/bazar-sempre-crianca-08-06.png"/>
    
        </div>

    </div>
</div>

<script src="scriptPagEventos.js"></script>
</body>
</html>