<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>

    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="/quemSomos">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="noticia.html">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<!-- Criação do carrossel -->
<div id="carrossel-container">
    <div id="carrossel"></div>
    <button id="prevBtn" class="carrossel-btn">&#10094;</button>
    <button id="nextBtn" class="carrossel-btn">&#10095;</button>
</div>


<!--Corpo da pagina-->
<div id="corpo">
            
    <!--Div do informativo-->
    <div class="corpuscorpus">

        <h2 class="TextoDeCadaCorpo">INFORMATIVO</h2>
        <div id="informativo">
           
            <div class="FotosInformativos">
                <img class="fotoInformativo" src="/fotosInformacao//voluntario.png"/>
                <p class="textoInfo">Seja voluntário!</p>
            </div>

            <div class="FotosInformativos">
                <img class="fotoInformativo" src="/fotosInformacao/materialEscolar.avif"/>
                <p class="textoInfo">Material Solidario</p>
            </div>
            <div class="FotosInformativos">
                <img class="fotoInformativo" src="/fotosInformacao/feijoada.jpg"/>
                <p class="textoInfo">Feijoada Solidário</p>
            </div>
           
        </div>

        <button class="OutrosEventosBtn">Ver mais Informatos</button>
    </div>
        
    <!--Div das notícias-->
    <div class="corpuscorpus">

        <h2 class="TextoDeCadaCorpo">NOTÍCIAS</h2>
        <div id="noticias">

            <div class="FotosNoticias">
                <img class="fotoNoticia" src="/fotosNoticias/dentista.jpg"/>
                <p class="textoInfo">I Sempre Saude 2024</p>
            </div>
            <div class="FotosNoticias">
                <img class="fotoNoticia" src="/fotosNoticias/atencao.jpg"/>
                <p class="textoInfo">SA de Abril no Recrer&Ação</p>
            </div>
            <div class="FotosNoticias">
                <img class="fotoNoticia" src="/fotosNoticias/saude.jpg"/>
                <p class="textoInfo">III Sempre Saúde 2024</p>
            </div>

        </div>
        <button class="OutrosEventosBtn">Outros Eventos</button>
    </div>

            <!--Div falando sobre a ONG Sempre criança-->
    <div class="corpuscorpus">

        <div id="textoSobreONG" class="corpuscorpus">
            <h2 class="TextoDeCadaCorpo">Sobre nós</h2>
            <p id="textoSobreNos">… Levamos afeto, esperança e exemplos de bons valores para crianças,
            além de estimularmos a cultura do voluntariado e dar suporte a instituições de
            apoio à infância. E os números só crescem!</p>
        </div>
               
    </div>

</div>

</div>

                
        <!--Blocos com as imagens representativas-->
        <!-- <div id="imagensRepresentativas">
            <div class="representativaImagem"></div>
            <div class="representativaImagem"></div>
            <div class="representativaImagem"></div>
            <div class="representativaImagem"></div>
        </div>  -->


    
        <section class="secao4" id="sobre">
            <div class="secao4-div">
                <!-- Card 1 -->
                <div class="secao4-div-card">
                    <img src="Calen.png" />
                    <h3>12</h3>
                    <p>Anos de atividade</p>
                </div>
                <!-- Card 2 -->
                <div class="secao4-div-card">
                    <img src="crian.png" />
                    <h3>20010</h3>
                    <p>Crianças</p>
                </div>
                <!-- Card 3 -->
                <div class="secao4-div-card">
                    <img src="Bloc.png" />
                    <h3>10010</h3>
                    <p>Voluntários</p>
                </div>
                <!-- Card 4 -->
                <div class="secao4-div-card">
                    <img src="Casa.png" />
                    <h3>57</h3>
                    <p>Instituições atendidas</p>
                </div>
            </div>
        </section>
        
    
<!-- Feedbacks-->
<h2 class="TextoDeCadaCorpo">AVALIAÇÕES</h2>
<section class="feedback-section">
    <div class="feedback-container">
       
      <article class="review">
        <div class="img-container">
          <img src="https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg" alt="" id="person-img" />
        </div>
        <h4 id="author">sara jones</h4>
        <p id="job">ux designer</p>
        <p id="info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
          asperiores debitis incidunt, eius earum ipsam cupiditate libero?
          Iste, doloremque nihil?
        </p>
        <div class="button-container">
          <button class="prev-btn btn">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="next-btn btn">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </article>
    </div>
  </section>
  

<!-- Carrossel de parceiros-->
<h2 class="TextoDeCadaCorpo">PARCEIROS</h2>
<div id="parceiros">
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/alemiranda.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/mclara.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/pcsf.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/donnatoscana.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2023/10/EMS-e1697845439856.png" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/alemiranda.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/mclara.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/pcsf.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2019/01/donnatoscana.jpg" height="100" width="250" alt="" />
            </div>
            <div class="slide">
                <img src="https://semprecrianca.org/wp-content/uploads/2023/10/EMS-e1697845439856.png" height="100" width="250" alt="" />
            </div>
        </div>
    </div>
</div>

<h2 class="TextoDeCadaCorpo">Recordações</h2>

<div id="Recordacoes">

    <!--Na Organização das fotos deve-se ter as fotos mais recentes são somente 6 fotos no de início-->
    <div id="OrganizacaoDasFotos">

        <div id="QuadranteSuperior">
            <img class = "fotosRecordacoes" id="foto1" src="\FotosRecordacao\SAII Maio\SaMaioII.jpg"/>
            <img class = "fotosRecordacoes" id="foto2" src="\FotosRecordacao\Sa I Maio\SA I maio.jpg"/>
            <img class = "fotosRecordacoes" id="foto3" src="\FotosRecordacao\Sempre Saude\Sempre Saude 1.jpg"/>
        </div>

        <div id="QuadranteInferior">
            <img class = "fotosRecordacoes" id="foto4" src="\FotosRecordacao\SA Abril 24 I\SA Abril 24 I.jpg"/>
            <img class = "fotosRecordacoes" id="foto5" src="\FotosRecordacao\Sa Marco 24 II\SA marco 24 II.jpg"/>
            <img class = "fotosRecordacoes" id="foto6" src="\FotosRecordacao\SA Marco I\Sa Marco I.jpg"/>
        </div>

    </div>

    <button class="OutrosEventosBtn" id="RedirecionarRecordacoes">Ver mais!</button>
    
</div>



<!-- Rodapé do site -->

<div id="divisao"></div>
<div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
            <label>Email:
                <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
            </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>