<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="stylesheet" href="instituicoesPJ.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>

</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VerMaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
            </div>
            <div id="classificacao">
                <a href="instituicoes.html">Abrigos</a>
                <a href="instituicoesPJ.html">Projetos sociais</a>
                <a href="instituicoesCR.html">Creches</a>
                </div>
                
                <div class="blocos" id="bloco1">
                    <h3>TURMA DA SOPA NITERÓI</h3>
                    <p><b>Atende pessoas em situação de rua/vulnerabilidade social.</b> <br><br>Vamos seguindo o nosso objetivo de através do apoio alimentar identificar oportunidades de resgate social</p>
                    <p>Endereço:Rua Padre Augusto Lamego, 39 (Ponto Cem Reis) – Fonseca</p>
                    <p>Telefone: (21) 98798-5057</p>
                    <p>Email: turmadasopadeniteroi@gmail.com</p>
                    <p>Responsável: Lucio ou Dona Geralda</p>
                    <p>Redes Sociais / Site: Facebook e Instagram</p>
                    <h4>Necessidades</h4>
                    <h4>Urgências</h4>
                    </div>
                    
                    <div class="blocos" id="bloco2">
                        <h3>CASA REVIVER – IDE – Niterói</h3>
                        <p><b>Apoio pedagógico para 90 crianças e adolescentes no contra turno escolar e rede de apoio a 20 mulheres.</b></p>
                        <p>Endereço: Rua Padre Anchieta, 168 – Centro (Morro do Estado)</p>
                        <p>Telefones: (21) 3628.9961 / (21) 98 156.3556</p>
                        <p>Responsável: Karina da Silva</p>
                        <p>Redes Sociais: Facebook e Instagram</p>
                        <p>Email: casareviver@gmail.com</p>
                        <h4>Necessidades</h4>
                        <p>Brinquedos, Material de limpeza, Alimentos não perecíveis, Material de higiene pessoal.</p>
                        <h4>Urgências</h4>
                        <p>Alimentos não perecíveis, material de limpeza e itens esportivos (ex: bola de futebol).</p>
                        </div>
                        
                        <div class="blocos" id="bloco3">
            <h3>CCDIA – Centro de Cooperação para o Desenvolvimento da Infância e Adolescência – Niterói</h3>
            <p><b>Apoio pedagógico para 60 crianças e adolescentes de 7 a 18 anos.</b></p>
            <p>Endereço: Áurea Lima, 38 – Centro</p>
            <p>Telefones: (21) 2613.2900</p>
            <p>Email: ccdia.adm@gmail.com</p>
            <p>Responsável: Fabio Talão</p>
            <p>Site:<a href="http://www.ccdia.org/">http://www.ccdia.org/</a></p>
            <p>Redes sociais: Facebook</p>
            <h4>Necessidades</h4>
            <p>Material de limpeza, Alimentos para lanche, Material de higiene pessoal.</p>
            <h4>Urgências</h4>
            <p>Leite, achocolatado, suco, açúcar, biscoito, requeijão, geléia, queijo.</p>
            </div>
            <div class="blocos" id="bloco4">
                <h3>LAR ALTERNATIVO OS GIRASSÓIS – Niterói</h3>
                <p><b>Apoio pedagógico para 120 crianças e adolescentes de 5 a 10 anos</b></p>
                <p>Endereço: Rua Daniel Riente, 3 – Caramujo</p>
                <p>Telefones: (21) 97 996.7962</p>
                <p>Responsável: Esther</p>
                <p>Site:<a href="http://www.larosgirassois.com.br/">http://www.larosgirassois.com.br/</a></p>
                <p>Redes Sociais: Facebook</p>
                <h4>Necessidades</h4>
                <p>Brinquedos, Material de limpeza, Alimentos não perecíveis, Material de higiene pessoal.</p>
                <h4>Urgências</h4>
                <p>Alimentos não perecíveis e material de limpeza.</p>
                </div>
                <div class="blocos" id="bloco5">
                    <h3>PROJETO SOCIAL ANJOS DA RUA – Niterói</h3>
                    <p>Atende todas as faixas etárias, em médias 200 pessoas mensais / Atende as necessidades das mulheres, resgatando sua autoestima e valorizando sua vida: Projeto RECRIAR que desenvolve a transformação pessoal através da arte em tecido a partir de uma camisa social doada, fazendo peças do vestuário infantil e produtos com retalhos de tecido.</p>
                    <p>Endereço: Rua São Sebastião Quadra 22 Lote 13 – Engenho do Mato</p>
                    <p>Telefone/ Email: 99556 7542 / anjosdaruaniteroi@yahoo.com</p>
                    <p>Responsável: Karla Barcellos</p>
                    <p>Redes Sociais / Site:<a href="https://www.facebook.com/anjosdaruaniteroi/">https://www.facebook.com/anjosdaruaniteroi/</a></p>
                    <h4>Necessidades</h4>
                    <p>Livros infantis, Roupas infantis, Roupas de adulto, Material de limpeza, Material de higiene pessoal</p>
                    <h4>Urgências</h4>
                    <p>Camisas sociais, fraldas geriátricas e material de higiene</p>
                    </div>
                    </div>
                    <div id="btns">
                        <a href="instituicoesPJ.html"><div class="btn">1</div></a>
                        <a href="instituicoesPJ2.html"><div class="btn">2</div></a>
                    </div>
        </div>
        
        <div id="divisao"></div>
        <div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
        <label>Email:
        <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
        </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>