<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
        </div>
        <div id="classificacao">
            <a href="instituicoes.html">Abrigos</a>
            <a href="instituicoesPJ.html">Projetos sociais</a>
            <a href="instituicoesCR.html">Creches</a>
        </div>

        <div class="blocos" id="bloco1">
            <h3><b>Orfanato Santo Antônio</b></h3>
            <br>
            <p><b>Atende meninas com idade entre 6 a 18 anos</b></p>
            <br>
            <p>Endereço: Rua Riodades, 309 – Fonseca – Niterói</p>
            <p>Telefones: (21) 97189-2916</p>
            <p>Site:<a href='https://orfanatosantoantonio.com.br'>https://orfanatosantoantonio.com.br</a></p>
            <p>Email: faleconosco@orfanatosantoantonio.com.br</p>
            <br>
            <h4>Necessidades</h4>
            <p>Material de limpeza, Material de higiene pessoal e Alimentos não perecíveis.</p>
            <br>
            <h4>Urgências</h4>
            <p>Absorvente, alimentos e material de higiene pessoal e material de limpeza</p>
        </div>

        <div class="blocos" id="bloco2">
            <h3>Lar da criança – Niterói</h3>
            <br>
            <p><b>Atende a crianças com idade entre 0 a 10 anos</b></p>
            <br>
            <p>Endereço: Estrada Padre José Euger, 33 – Ititioca</p>
            <p>Telefones: (21) 2714.3939 / (21) 2714.5923 / (21) 98875-1502</p>
            <p>Site: <a href="http://lardacrianca.biz">http://lardacrianca.biz</a></p>
            <p>Email: lar@lardacrianca.biz</p>
            <br>
            <h4>Necessidades</h4>
            <p>Material de limpeza, Material de higiene pessoal e Alimentos não perecíveis.</p>
            <h4>Urgências</h4>
            <p>Fralda M e G, leite em pó e material de higiene pessoal e material de limpeza</p>
        </div>

        <div class="blocos" id="bloco3">
            <h3>Lisaura Ruas – Niterói</h3>
            <br>
            <p><b>Atende a infanto-juvenis em situação de vulnerabilidade social.</b></p>
            <br>
            <p>Endereço: Rua Alexandre Esther Lote 12 Quadra 65 (antiga Rua 29) – Itaipu</p>
            <p>Telefones: (21) 2629.1213 / (21) 99 106.0526</p>
            <p>Responsável: Anderson Costa</p>
            <br>
            <h4>Necessidades</h4>
            <p>Roupas infantis, Material de limpeza, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal.</p>
            <h4>Urgências</h4>
            <p>Material de higiene.</p>
        </div>
    </div>
</div>

<div id="divisao"></div>
<div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
            <label>Email:
                <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
            </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>