<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="stylesheet" href="instituicoesPJ.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
        </div>
        <div id="classificacao">
            <a href="instituicoes.html">Abrigos</a>
            <a href="instituicoesPJ.html">Projetos sociais</a>
            <a href="#">Creches</a>
        </div>

        <div class="blocos" id="bloco1">
            <h3>Creche Comunitária IRMÃ CATARINA – Niterói</h3>
            <br>
            <p><b>Atende 100 crianças de 2 a 6 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Alameda Jandira Froes 1037 – São Francisco (Morro do Cavalão)</p>
            <p>Telefone: 2722-7052 / 99831-1410</p>
            <p>Email: rosangelamoutinho1979@gmail.com</p>
            <p>Responsável Rosângela</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedo e livros infantis.</p>
            
            <h4>Urgências</h4>
            <p>Jogos Educativos, Material de Limpeza e Roupas para bazar.</p>
        </div>

        <div class="blocos" id="bloco2">
            <h3>Creche Comunitária AMIGOS DO JACARÉ – Niterói</h3>
            <br>
            <p><b>Atende 80 crianças de 2 a 6 anos de idade, em horário integral.</b></p>
            <br>
            <p>Endereço: Estrada Frei Orlando n°499 – Piratininga</p>
            <p>Telefone: 97509-5939</p>
            <p>Responsável: Simone</p>
            <p>Email: simone32souza@yahoo.com.br</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Livros infantis, Roupas infantis, Material de limpeza, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal.</p>
            
            <h4>Urgências</h4>
            <p>Brinquedos, material pedagógico e material de limpeza.</p>
        </div>

        <div class="blocos" id="bloco3">
            <h3>Creche Comunitária ALARICO DE SOUZA – Niterói</h3>
            <br>
            <p><b>Atende 80 crianças de 2 a 6 anos de idade, em horário integral.</b></p>
            <br>
            <p>Endereço: Estr. Alarico de Souza 555 – Santa Rosa</p>
            <p>Telefone: 3602-6678</p>
            <p>Email: crechealaricodesouza555@gmail.com</p>
            <p>Responsável: Renata Rosa dos Santos Souza</p>
            <p>Redes Sociais: Facebook</p>
            
             
            
            <h4>Necessidades</h4>
            <p>Material de limpeza, Material Pedagógico (material escolar).</p>
            
            <h4>Urgências</h4>
            <p>Material de limpeza: Sabão em pó,  desinfetante, detergentes,  cloro ou água sanitária, sabão pastoso, esponjas, pct de bombril, sacos para lixo 200L, sacos para lixo 60L, álcool, cx de luva para procedimentos,  papel higiênico.</p>
        </div>
        <div class="blocos" id="bloco4">
            <h3>Creche Comunitária ESPERANÇA EM CRISTO – Niterói</h3>
            <br>
            <p><b>Atende 150 crianças de 2 a 6 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Estrada Frei Orlando n°499 – PiratiningaEstrada Francisco da Cruz, 3003 – Itaipu</p>
            <p>Telefone: 2608-0622</p>
            <p>Email: cesperancaemcristo@gmail.com</p>
            <p>esponsável: Rachel</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Livros infantis, Material de limpeza, Material Pedagógico (material escolar), Material de higiene pessoal.</p>
            
            <h4>Urgências</h4>
            <p>Material de Limpeza, Material Pedagógico e Brinquedos.</p>
        </div>
        <div class="blocos" id="bloco5">
            <h3>Creche Comunitária NOSSA SENHORA APARECIDA – Niterói</h3>
            <br>
            <p><b>Atende 80 criancas de 2 a 6 anos de idade, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua Joao Jorge Nemer n 03 – Ingá (morro do Palácio)</p>
            <p>Telefone: 2721-1993 / 97173-9093</p>
            <p>Email: nunesmaria17@gmail.com</p>
            <p>Responsável: Maria Moreira</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Livros infantis, Material de limpeza, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal.</p>
            
            <h4>Urgências</h4>
            <p>Material de limpeza e material pedagógico.</p>
        </div>
    </div>
    <div id="btns">
        <a href="instituicoesCR.html"><div class="btn">1</div></a>
        <a href="instituicoesCR2.html"><div class="btn">2</div></a>
        <a href="instituicoesCR3.html"><div class="btn">3</div></a>
        <a href="instituicoesCR4.html"><div class="btn">4</div></a>
    </div>
</div>

<div id="divisao"></div>
    <div id="footer">
        <div class="retangulo">
            <h1>Receba nosso informativo</h1>
            <p>
                <label>Email: 
                    <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
                </label>
            </p>
            <span class="error-message" id="emailInfoError"></span>
            <button id="btnInfo">Enviar</button>
            <span class="success-message" id="infoSuccessMessage"></span>
        </div>
        <div class="retangulo" id="iconsCR2">
            <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
            <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
            <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="retangulo">
            <h1>Entre em contato conosco</h1>
            <p>
                <label>Nome: 
                    <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
                </label>
            </p>
            <span class="error-message" id="nomeContError"></span>
            <p>
                <label>Email: 
                    <input type='text' name="emailCont" class='inputs' id="emailCont"/>
                </label>
            </p>
            <span class="error-message" id="emailContError"></span>
            <p>
                <label>Telefone: 
                    <input type='text' name="telCont" class='inputs' id="telCont"/>
                </label>
            </p>
            <span class="error-message" id="telContError"></span>
            <p>
                <label>Assunto: 
                    <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
                </label>
            </p>
            <span class="error-message" id="assuntoContError"></span>
            <p>
                <label>Mensagem:
                    <textarea name="mensCont" class="inputs" id="mensg"></textarea>
                </label>
            </p>
            <span class="error-message" id="mensgError"></span>
            <button id="btnContato">Enviar</button>
            <span class="success-message" id="contatoSuccessMessage"></span>
        </div>
    </div>

    <script src="scriptInstituicao.js"></script>
</body>
</html>
