<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="stylesheet" href="instituicoesPJ.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#foote">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
        </div>
        <div id="classificacao">
            <a href="instituicoes.html">Abrigos</a>
            <a href="instituicoesPJ.html">Projetos sociais</a>
            <a href="instituicoesCR.html">Creches</a>
        </div>

        <div class="blocos" id="bloco1">
            <h3>OFICINA DO PARQUE – Niterói</h3>
            <p>Atende 200 pessoas de 7 a 70 anos de idade. ONG com o proposito de ajudar a comunidade com cursos na área artística, ambiental e profissionalizante.</p>
            
            <p>Endereço: Rua Demétrio de Freitas 150 – Maceió</p>
            <p>Telefone: 2616-6358 / 99768-2615</p>
            <p>Email: simone-macedo@hotmail.com</p>
            <p>Responsável: Simone Macêdo</p>
            <p>Redes Sociais: Facebook</p>
            
            <h4>Necessidades</h4>
            <p>Material de limpeza, Material Pedagógico (material escolar).</p>
            
            <h4>Urgências</h4>
            <p>Material de limpeza.</p>
        </div>

        <div class="blocos" id="bloco2">
            <h3>CENTRO ESPÍRITA IRMÃ SCHEILLA – Niterói</h3>
            <p>Atende 76 crianças de 0 a 18 anos</p>
            
            <p>Endereço: Rua São José – 275</p>
            <p>Telefone: 98254-1609</p>
            <p>Responsável: Paula Ornellas</p>
            <p>Redes Sociais: Facebook</p>
            
            <h4>Necessidades</h4>
            <p>Roupas infantis, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal.</p>
            
            <h4>Urgências</h4>
            <p>Distribuição de cesta básica aos atendidos: 1 kg de Arroz; 1 kg de Feijão; 1 litro de Óleo; 1 pacote de Macarrão; 1 kg de Açúcar; 5 pacotes de miojo; 1 pacote de café; 2 sabonetes; 1 shampoo e 1 condicionador e Sabão de coco.</p>
        </div>

        <div class="blocos" id="bloco3">
            <h3>AEPEC: Associação Espaço Pequeno Cidadão – São Gonçalo</h3>
            <p>Atende a infanto-juvenis em situação de vulnerabilidade social, são 120 crianças de 06 a 16 anos e 28 jovens de 16 a 24 anos.</p>
            <p>Endereço: Estrada de Itaitindiba 05, Santa Isabel , São Gonçalo</p>
            <p>Telefones: 3714-6372</p>
            <p>Email: aepec@aepec.org.br</p>
            <p>Site: <a href="http://www.aepec.org.br/">http://www.aepec.org.br/</a></p>
            <p>Responsável: Maria do Carmo</p>
            
            <h4>Necessidades</h4>
            <p>Roupas infantis e de adulto, Material de limpeza, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal</p>
            
            <h4>Urgências</h4>
            <p>Alimentos não perecíveis, Material de higiene pessoal e de limpeza</p>
        </div>
        <div class="blocos" id="bloco4">
            <h3>PROJETO PRIMEIRA CHANCE – São Gonçalo</h3>
            <p>Atende 60 crianças de 4 a 14 anos.</p>
            
            <p>Endereço: Rua Henrique Bento Espinosa, 48 – Pita</p>
            <p>Telefone: (21) 99308-8539</p>
            <p>Email: douglaspinheirodeoliveira@gmail.com</p>
            <p>Responsável: Douglas Pinheiro de Oliveira</p>
            <p>Redes Sociais: Instagram e Facebook</p>
            
            <h4>Necessidades</h4>
            <p>Material de limpeza, Alimentos não perecíveis, Material de higiene pessoal.</p>
            
             
            <h4>Urgências</h4>
            <p>Papel higiênico,escova de dente, pasta de dente . Biscoitos, sucos, leite, pão, massa de bolo, salsicha, Verduras, frutas.</p>
        </div>
        <div class="blocos" id="bloco5">
            <h3>CASA IRMÃ FELICIDADE – Rio de Janeiro</h3>
            <p>Atende 60 crianças e adolescentes entre 06 e 15 anos.</p>
        
            <p>Endereço: Rua Alzira Brandão, 241 – Tijuca</p>
            <p>Telefone: (21) 2569 – 3344</p>
            <p>Responsável: Rejane Souza</p>
            <p>Redes Sociais: Facebook</p>
            
            <h4>Necessidades</h4>
            <p>Material de limpeza, Material Pedagógico (material escolar).</p>
            
            <h4>Urgências</h4>
            <p>Material de limpeza.</p>
        </div>
    </div>
    <div id="btns">
        <a href="instituicoesPJ.html"><div class="btn">1</div></a>
        <a href="instituicoesPJ2.html"><div class="btn">2</div></a>
    </div>
</div>

<div id="divisao"></div>
    <div id="footer">
        <div class="retangulo">
            <h1>Receba nosso informativo</h1>
            <p>
                <label>Email: 
                    <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
                </label>
            </p>
            <span class="error-message" id="emailInfoError"></span>
            <button id="btnInfo">Enviar</button>
            <span class="success-message" id="infoSuccessMessage"></span>
        </div>
        <div class="retangulo" id="icons">
            <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
            <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
            <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="retangulo">
            <h1>Entre em contato conosco</h1>
            <p>
                <label>Nome: 
                    <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
                </label>
            </p>
            <span class="error-message" id="nomeContError"></span>
            <p>
                <label>Email: 
                    <input type='text' name="emailCont" class='inputs' id="emailCont"/>
                </label>
            </p>
            <span class="error-message" id="emailContError"></span>
            <p>
                <label>Telefone: 
                    <input type='text' name="telCont" class='inputs' id="telCont"/>
                </label>
            </p>
            <span class="error-message" id="telContError"></span>
            <p>
                <label>Assunto: 
                    <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
                </label>
            </p>
            <span class="error-message" id="assuntoContError"></span>
            <p>
                <label>Mensagem:
                    <textarea name="mensCont" class="inputs" id="mensg"></textarea>
                </label>
            </p>
            <span class="error-message" id="mensgError"></span>
            <button id="btnContato">Enviar</button>
            <span class="success-message" id="contatoSuccessMessage"></span>
        </div>
    </div>

    <script src="scriptInstituicao.js"></script>
</body>
</html>
