<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="stylesheet" href="instituicoesPJ.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
        </div>
        <div id="classificacao">
            <a href="instituicoes.html">Abrigos</a>
            <a href="instituicoesPJ.html">Projetos sociais</a>
            <a href="#">Creches</a>
        </div>

        <div class="blocos" id="bloco1">
            <h3>UMEI* MARIA VITÓRIA AYRES NEVES – Niterói</h3>
            <br>
            <p><b>Atende 107 crianças de 2 a 6 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua Quinze de Novembro, 179 – Centro</p>
            <p>Telefone: 2703-2361 / 97967-0594</p>
            <p>Email: umei.mariavitoriaan@gmail.com</p>
            <p>Responsável: Aracy Maria Braga De Miranda</p>
            
            <h4>Necessidades</h4>
            <p>Livros infantis.</p>
            
            <h4>Urgências</h4>
            <p>Brinquedos Pedagógicos.</p>
            
            <p>* Creche Municipal</p>
        </div>

        <div class="blocos" id="bloco2">
            <h3>Creche RAIZ DE DAVI – São Gonçalo</h3>
            <br>
            <p><b>Atende 80 crianças de 2 a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: R. João Capistrano de Abreu, 1258, qd 60 lt 37 – Amendoeira (São Gonçalo)</p>
            <p>Telefone: 98565-4801</p>
            <p>Email:  crecheraizdedavi@gmail.com</p>
            <p>Responsável: Paulo Evangelista dos Anjos</p>
            <p>Redes Sociais: Facebook</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Roupas infantis, Material de limpeza, Material Pedagógico (material escolar), Alimentos não perecíveis, Material de higiene pessoal</p>
            
            <h4>Urgências</h4>
            <p>Alimentos não perecíveis e material de limpeza</p>
        </div>

        <div class="blocos" id="bloco3">
            <h3>Creche CANTINHO DOS ANJOS – São Gonçalo</h3>
            <br>
            <p><b>Atende 115 crianças de 06 meses a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua Nossa Senhora da Boa Esperança, Lt 1 Qd 27 – Ipiiba (São Gonçalo)</p>
            <p>Telefone: 99739-6070</p>
            <p>Email: akiriacristina@hotmail.com</p>
            <p>Redes Sociais: Facebook</p>
            <p>Responsável: Cristina Garcia</p>
            
            <h4>Necessidades</h4>
            <p>Roupas infantis, Material de limpeza, Alimentos não perecíveis, Material de higiene pessoal</p>
            
            <h4>Urgências</h4>
            <p>Gênero alimentícios.</p>
        </div>
    </div>
    <div id="btns">
        <a href="instituicoesCR.html"><div class="btn">1</div></a>
        <a href="instituicoesCR2.html"><div class="btn">2</div></a>
        <a href="instituicoesCR3.html"><div class="btn">3</div></a>
        <a href="instituicoesCR4.html"><div class="btn">4</div></a>
    </div>
</div>

<div id="divisao"></div>
    <div id="footer">
        <div class="retangulo">
            <h1>Receba nosso informativo</h1>
            <p>
                <label>Email: 
                    <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
                </label>
            </p>
            <span class="error-message" id="emailInfoError"></span>
            <button id="btnInfo">Enviar</button>
            <span class="success-message" id="infoSuccessMessage"></span>
        </div>
        <div class="retangulo" id="iconsCR4">
            <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
            <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
            <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="retangulo">
            <h1>Entre em contato conosco</h1>
            <p>
                <label>Nome: 
                    <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
                </label>
            </p>
            <span class="error-message" id="nomeContError"></span>
            <p>
                <label>Email: 
                    <input type='text' name="emailCont" class='inputs' id="emailCont"/>
                </label>
            </p>
            <span class="error-message" id="emailContError"></span>
            <p>
                <label>Telefone: 
                    <input type='text' name="telCont" class='inputs' id="telCont"/>
                </label>
            </p>
            <span class="error-message" id="telContError"></span>
            <p>
                <label>Assunto: 
                    <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
                </label>
            </p>
            <span class="error-message" id="assuntoContError"></span>
            <p>
                <label>Mensagem:
                    <textarea name="mensCont" class="inputs" id="mensg"></textarea>
                </label>
            </p>
            <span class="error-message" id="mensgError"></span>
            <button id="btnContato">Enviar</button>
            <span class="success-message" id="contatoSuccessMessage"></span>
        </div>
    </div>

    <script src="scriptInstituicao.js"></script>
</body>
</html>
