<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="instituicoes.css">
    <link rel="stylesheet" href="instituicoesPJ.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="divisao"></div>

<div id="corpoInstituicao">
    <div id="container">
        <div id="info">
            <h1>Instituições Atendidas</h1>
            <p>O Sempre Criança não tem uma sede própria e atua direta e indiretamente junto às instituições cadastradas, listadas a seguir:</p>
        </div>
        <div id="classificacao">
            <a href="instituicoes.html">Abrigos</a>
            <a href="instituicoesPJ.html">Projetos sociais</a>
            <a href="#">Creches</a>
        </div>

        <div class="blocos" id="bloco1">
            <h3>Creche Comunitária GERALDO CAVALCANTI – APADA</h3>
            <br>
            <p><b>Atende 75 crianças do berçário e pré escolar, de 4 meses a 6 anos, em horário integral. Bilíngue: Português e Libras.</b></p>
            <br>
            <p>Endereço Rua General Andrade Neves,307 – São Domingos</p>
            <p>Telefone: 3628-6983 / 3628-6995</p>
            <p>Responsável: Miriam Rangel</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Alimentos não perecíveis.</p>
            
            <h4>Urgências</h4>
            <p>Alimentos não perecíveis: Arroz, Leite em pó, Óleo, Massa de tomate, Macarrão, Margarina  Açúcar  Azeite.</p>
        </div>

        <div class="blocos" id="bloco2">
            <h3>NAEI VILA IPIRANGA – Niterói</h3>
            <br>
            <p><b>Atende 300 crianças de 06 meses a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua Tenente Osório 73- Fonseca</p>
            <p>Telefones: 2719-2098 / 99736-2633</p>
            <p>Email:  naeivilaipiranga2013@gmail.com</p>
            <p>Responsável: Claudia Nery Viegas</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos, Livros infantis, Material Pedagógico (material escolar).</p>
            
            <h4>Urgências</h4>
            <p>Material Pedagógico.</p>
        </div>

        <div class="blocos" id="bloco3">
            <h3>UMEI* SENADOR VASCONCELOS TORRES – Niterói</h3>
            <br>
            <p><b>Atende 75 crianças de 2 a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua Santos Moreira, 58 – Santa Rosa</p>
            <p>Telefone: 2714-2070</p>
            <p>Email:senvasctorres@gmail.com</p>
            <p>Responsável: Maria Angela e Maria Jose</p>
            
            <h4>Necessidades</h4>
            <p>Livros Infantis.</p>
            
            <h4>Urgências</h4>
            <p>Não tem.</p>
            
            <p>* Creche Municipal</p>
        </div>
        <div class="blocos" id="bloco4">
            <h3>UMEI* PROF. DENISE MENDES CARDIA – Niterói</h3>
            <br>
            <p><b>Atende 175 crianças de 2 a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Rua José Bonifácio 56 – São Domingos</p>
            <p>Telefone: 2721-4582 / 99953-6875</p>
            <p>Email:  marinamariani@bol.com.br </p>
            <p>Responsável: Marina Mariani Cople</p>
            
            <h4>Necessidades</h4>
            <p>Brinquedos Pedagógicos e Material de Limpeza.</p>
            
            <h4>Urgências</h4>
            <p>Brinquedos Pedagógicos.</p>
            
            <p>* Creche Municipal</p>
        </div>
        <div class="blocos" id="bloco5">
            <h3>UMEI* OLGA BENARIO PRESTES – Niterói</h3>
            <br>
            <p><b>Atende 140 crianças de 2 a 5 anos, em horário integral.</b></p>
            <br>
            <p>Endereço: Praça Irene de Matos s/n</p>
            <p>Telefone: 2709-4498 / 971524544</p>
            <p>Email: obpprestes@gmail.com </p>
            <p>Responsável: Tereza Raquel Estabile Moraes</p>
            
            <h4>Necessidades</h4>
            <p>Livros infantis e Brinquedos Pedagógicos.</p>
            
            <h4>Urgências</h4>
            <p>Brinquedos Pedagógicos.</p>
            
            <p>* Creche Municipal</p>
        </div>
    </div>
    <div id="btns">
        <a href="instituicoesCR.html"><div class="btn">1</div></a>
        <a href="instituicoesCR2.html"><div class="btn">2</div></a>
        <a href="instituicoesCR3.html"><div class="btn">3</div></a>
        <a href="instituicoesCR4.html"><div class="btn">4</div></a>
    </div>
</div>

<div id="divisao"></div>
    <div id="footer">
        <div class="retangulo">
            <h1>Receba nosso informativo</h1>
            <p>
                <label>Email: 
                    <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
                </label>
            </p>
            <span class="error-message" id="emailInfoError"></span>
            <button id="btnInfo">Enviar</button>
            <span class="success-message" id="infoSuccessMessage"></span>
        </div>
        <div class="retangulo" id="iconsCR3">
            <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
            <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
            <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="retangulo">
            <h1>Entre em contato conosco</h1>
            <p>
                <label>Nome: 
                    <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
                </label>
            </p>
            <span class="error-message" id="nomeContError"></span>
            <p>
                <label>Email: 
                    <input type='text' name="emailCont" class='inputs' id="emailCont"/>
                </label>
            </p>
            <span class="error-message" id="emailContError"></span>
            <p>
                <label>Telefone: 
                    <input type='text' name="telCont" class='inputs' id="telCont"/>
                </label>
            </p>
            <span class="error-message" id="telContError"></span>
            <p>
                <label>Assunto: 
                    <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
                </label>
            </p>
            <span class="error-message" id="assuntoContError"></span>
            <p>
                <label>Mensagem:
                    <textarea name="mensCont" class="inputs" id="mensg"></textarea>
                </label>
            </p>
            <span class="error-message" id="mensgError"></span>
            <button id="btnContato">Enviar</button>
            <span class="success-message" id="contatoSuccessMessage"></span>
        </div>
    </div>

    <script src="scriptInstituicao.js"></script>
</body>
</html>
