<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="quemSomos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
    <div id="head">
        <a id="logo" href="index.html">
            <img src="logo2.png" alt="Logo">
        </a>
        <button id="botaoMenuInicial">
            <div class="linhabotao"></div>
            <div class="linhabotao"></div>
            <div class="linhabotao"></div>
        </button>
    </div>

    <div id="menu" class="menu">
        <ul>
            <li><a href="index.html">Página inicial</a></li> <!-- Caminho relativo corrigido -->
            <li><a href="quemSomos.html">Quem somos</a></li>
            <li><a href="instituicoes.html">Instituições</a></li>
            <li><a href="doacao.html">Doações</a></li>
            <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
            <li><a href="parceria.html">Parceria</a></li>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="#">News</a></li>
            <li><a href="VerMaisFotos.html">Fotos</a></li>
            <li><a href="#footer" class="smooth-scroll">Contato</a></li>
        </ul>
    </div>

    <div id="divisao"></div>
    <div id="corpoQuemSomos">
        <div class="container">
            <div class="text-container" id="container1">
                <div class="textos" id="texto1">
                    <h1>Quem Somos</h1>
                    <br>
                    <p>O Sempre Criança é uma associação civil sem fins lucrativos, sem qualquer vínculo religioso ou partidário, e que é totalmente gerido e realizado por voluntários.</p>
                    <br>
                    <p>Nosso objetivo é estimular a cultura do voluntariado e dar suporte a instituições de apoio à infância, levando afeto, esperança e exemplos de bons valores para crianças.</p>
                    <br>
                    <p>Atuando desde 2002, já beneficiamos diretamente mais de 15 mil crianças e de 8 mil voluntários.</p>
                </div>
            </div>
            <div class="text-container" id="container2">
                <div class="textos" id="texto2">
                    <h1>Missão</h1>
                    <p>Promover ações de voluntariado em prol de crianças socialmente vulneráveis, em Niterói e São Gonçalo.</p>
                    <br>
                    <h1>Visão</h1>
                    <p>Ser referência no apoio ao voluntariado em favor das crianças de Niterói e regiões próximas.</p>
                    <br>
                    <h1>Valores</h1>
                    <p>Respeito; Solidariedade; Empatia; Responsabilidade; Compaixão.</p>
                </div>
            </div>
            <div class="text-container" id="container3">
                <div class="textos" id="texto3">
                    <h1>O que fazemos</h1>
                    <h2>SEMPRE AÇÃO</h2>
                    <p>Visitas mensais às instituições, onde desenvolvemos uma atividade lúdico-educativa-esportiva, proporcionando um momento de atenção exclusiva, afeto e aprendizado às crianças.</p>
                    <h2>ALIMENTANDO SONHOS</h2>
                    <p>Campanha permanente de arrecadação de bens de consumo necessários às instituições atendidas (alimento, materiais de limpeza, fraldas, leite, etc).</p>
                    <p>Uma versão pontual do Alimentando Sonhos é a Campanha de Material Escolar, que desde 2015 nos permitiu beneficiar milhares de crianças, garantindo seu acesso a material escolar completo, além de mobiliário para diversas instituições.</p>
                    <h2>SEMPRE SAÚDE</h2>
                    <p>Fruto de uma incrível parceria com empresas da área médica, este evento visa a saúde das crianças! Conta com a participação de diversos profissionais de saúde, além de prover atendimento médico, nutricional e odontológico às crianças. Além de palestras, bate-papos e dinâmicas voltadas para educação e prevenção em saúde.</p>
                    <p>Um exemplo de que as parcerias também podem ir muito além das doações!</p>
                    <h2>FESTA DE NATAL</h2>
                    <p>Uma grandiosa festa para cerca de 500 crianças atendidas pelo Sempre Criança.</p>
                    <p>Uma tarde de sonho e brincadeiras, em que cada uma recebe atenção exclusiva de um voluntário! Lanche, apresentações de música e teatro e muita diversão são a tônica desta tarde. E encerrando com pura magia, o Papai Noel entrega a cada criança o presente que ela pediu através de cartinhas organizadas e apadrinhadas pelos voluntários.</p>
                    <h2>NOELZINHO SOLIDÁRIO</h2>
                    <p>Festa em celebração ao espírito voluntário! Com muita música e animação, o objetivo é arrecadar brinquedos para serem distribuídos para crianças hospitalizadas. Já foram dezenas de visitas a diferentes hospitais, e milhares de crianças cuja rotina hospitalar foi alegrada por uma visita e alguns sorrisos.</p>
                </div>
            </div>
        </div>
    </div>

    
<div id="divisao"></div>
<div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
            <label>Email:
                <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
            </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>