<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="stylepagEventos.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VermaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>

<div id="corpoPag">
    <div class="localndSeraTexto">
        <div id="cabecalho">
            <h4 class="evento">EVENTO</h4>
            <h2 class="nomeEvento">SA de Maio no Recrer&Ação</h2>
            <p class="dataEvento">22 de março de 2024</p>
            <p class="descricaoEvento">DATA: 25/05</p>
            <p class="descricaoEvento">TEMA: Embreve</p>
        </div>

        <div class="textoInformativo">
            <h2>Querido Voluntário,</h2>
            <p>Temos um encontro marcado no domingo, dia 05/05! Acontecerá o Sempre Ação no Lar da Criança, com o retorno da participação da escola Magalhães Vianna.</p>
            <p>E sabe o que isso significa? Diversão está garantida e abraços para receber. Precisamos muito da sua presença, serão cerca de 50 crianças participantes!</p>
            <p>Para marca esse reencontro, preparamos uma tarde recheada de brincadeiras e um lanchinho delicioso.</p>
            <p>🌈 Venha fazer parte desse momento mágico com a gente! Te esperamos lá! 🤗</p>
            <h3>Recadinhos:</h3>
            <p>(1) Se essa é sua primeira participação, não se preocupe! Nosso encontro é planejado e todas as atividades orientadas para ninguém ficar de fora!</p>
            <p>E se você já é nosso fiel escudeiro, ficaremos muito contentes em revê-lo!</p>
            <p>(2) Quer levar seu filho, sobrinho, vizinho ou afilhado? Se ele tiver pelo menos 3 anos, ele é nosso convidado especial. Temos tido experiências bem gostosas com nossos voluntários mirins.</p>
            <p>(3) Atenção ao horário combinado!<br>
                Nosso cronograma de atividades é bem apertado, por favor, não se atrase.</p>
            <p>(4) Nosso ponto de encontro será às 14h em frente (em frente ao ginásio do Colégio Salesiano Santa Rosa, AQUI). Sairemos de lá às 14h15. Não se atrase!</p>
            <p>(5) Se puder, vá de carro! Assim poderá dar carona para quem estiiver a pé.</p>
            <p>Em caso de dúvidas, basta nos escrever! Estamos à disposição.</p>

            <img class="FotoMexendoNela" src="/FotosEventos/FotoSAJunho22dmarco.png"/>
        
            <h3>DATA: 29/06</h3>

            <h3>TEMA: Em breve</h3>

            <h3>HORÁRIOS:</h3>
            <p>14h – Ponto de encontro – Em frente ao portão do ginásio do Colégio Salesiano (Rua Santa Rosa 207, em frente a Av. 7 de Setembro – http://goo.gl/maps/CIF66).<br>
                14h15 – Saída do ponto de encontro em destino ao Lar da Criança.<br>
                17h – Saída do Lar da Criança</p>
            
            <h3>RECOMENDAÇÕES IMPORTANTES:</h3>>

            <p>– Os voluntários devem estar trajando a camisa do Projeto “VOLUNTÁRIO” (caso não tenha, ela pode ser adquirida na hora – R$ 40,00, em pix, dinheiro ou cartão de crédito/débito). As camisas não podem ser customizadas, sendo impeditivo a participação no evento!<br>
                – Procure chegar no horário, pois sairemos pontualmente.<br>
                – Se possível, vá de carro, para que haja carona para todos os voluntários. Dependendo do número de voluntários, eventualmente alguns terão que ir/voltar de ônibus.<br>
                – Meninas, evitem usar  short ou saia. Em todos os nossos eventos corremos, sentamos no chão brincamos muito com a criançada, então fica mais confortável não estar de saia ou com short muito curto.<br>
                – Evite usar bijuterias ou similares que possam ficar enganchadas ou serem puxadas pelas crianças, tais como brincos, pulseiras e cordões.<br>
                – Evite falar/usar ou usar o celular.<br>
                – Para aqueles que estarão acompanhados, um lembrete: namoro fica para depois, ok?<br>
                – Não fale palavrões. Vamos dar exemplo para as crianças.<br>
                – Não fume dentro no espaço, caso seja inevitável, deixe as crianças sob a responsabilidade de outro voluntário, e saia para tal. Nunca deixe sua criança sozinha.<br>
                – Qualquer dúvida ou problema, procure um coordenador do projeto, que estará com blusa colorida.</p>

            <p>– Qualquer dúvida ou problema, procure um coordenador do Sempre Criança, que estará com a blusa colorida. ATENÇÃO: Evitem tirar fotos com celular, temos uma equipe super especial que fará todos os registros e disponibilizaremos todas as fotos em nosso site!</p>

            <p>Se você não sabe chegar no ponto de encontro ou tem alguma dúvida sobre quem somos e o que fazemos, entre em contato conosco até o dia anterior de cada atividade. (contato@semprecrianca.org).</p>

            <h2>Todas as pessoas que participaram das atividades do Projeto Sempre Criança são voluntários e estão ciente do que dispõe o parágrafo único  do art. 1º da Lei n.º 9.608, de 18 de fevereiro de 1998: “O serviço voluntário não gera vínculo empregatício, nem obrigação de natureza trabalhista, previdenciária ou afim.”</h2>
        </div>

    </div>
</div>

<script src="scriptPagEventos.js"></script>
</body>
</html>