<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sempre Criança</title>
    <link rel="stylesheet" href="styleVoluntario.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://kit.fontawesome.com/5785106774.js" crossorigin="anonymous"></script>
<div id="head">
    <a id="logo" href="index.html">
        <img src="logo2.png" alt="Logo">
    </a>
    <button id="botaoMenuInicial">
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
        <div class="linhabotao"></div>
    </button>
</div>

<div id="menu" class="menu">
    <ul>
        <li><a href="index.html">Página inicial</a></li>
        <li><a href="quemSomos.html">Quem somos</a></li>
        <li><a href="instituicoes.html">Instituições</a></li>
        <li><a href="doacao.html">Doações</a></li>
        <li><a href="sejaVoluntario.html">Seja voluntário</a></li>
        <li><a href="parceria.html">Parceria</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="#">News</a></li>
        <li><a href="VerMaisFotos.html">Fotos</a></li>
        <li><a href="#footer" class="smooth-scroll">Contato</a></li>
    </ul>
</div>
<div class="divisao" id="divisaosuperior"></div>
<div id="CorpoSejaVoluntario">
    <div id="conteudo">
        <h1>Seja Voluntário</h1>
        <h3>Coloque suas informações de voluntariado aqui.</h3>  
        <p id="nomeLabel">Digite seu nome:<br>
        <input type="text" id="nomeInput" placeholder="Nome"></p>

        <p id="emailLabel">Digite seu email:<br>
        <input type="text" id="emailInput" placeholder="E-mail"></p>

        <label id="resposta1" class="ret">
            <p .class="textoPerguntasVoluntario">Deseja Receber nossa Newsletter? </p>
            <input type="radio" name="newsletter" value="Sim" class="check"> Sim<br>
            <input type="radio" name="newsletter" value="Não" class="check"> Não
        </label>

        <p id="numeroLabel">Digite seu número:<br>
        <input type="text" id="numeroInput" placeholder="Número"></p>

        <label id="resposta2" class="ret">
            <p .class="textoPerguntasVoluntario">Deseja Receber nossa notificação pelo Whatsapp?</p>
            <input type="radio" name="whatsapp" value="sim" class="check"> Sim<br>
            <input type="radio" name="whatsapp" value="nao" class="check"> Não
        </label>

        <p id="formacaoLabel">Informe sua formação:<br>
        <input type="text" id="FormacaoInput" placeholder="Sua formação"/></p>

        <label id="resposta3" class="ret">
            <p .class="textoPerguntasVoluntario">Você trabalha como profissional liberal?</p>
            <input type="radio" name="profissionalLiberal" value="sim" class="check"/> Sim<br>
            <input type="radio" name="profissionalLiberal" value="nao" class="check"/> Não
        </label>
        <p id="obrigado" style="display: none;">Obrigado! Entraremos em contato com você!</p>
        
        <button id="botaoProximo">Próximo</button>
    </div>
</div>


<div class="divisao" id="divisaoinferior"></div>
<br>
<div id="footer">
    <div class="retangulo">
        <h1>Receba nosso informativo</h1>
        <p>
            <label>Email:
                <input type='text' name="emailInfo" class='inputs' id="emailInfo"/>
            </label>
        </p>
        <span class="error-message" id="emailInfoError"></span>
        <button id="btnInfo">Enviar</button>
        <span class="success-message" id="infoSuccessMessage"></span>
    </div>
    <div class="retangulo" id="icons">
        <a href="#"><i id="face" class="fa-brands fa-facebook"></i></a>
        <a href="#"><i id="you" class="fa-brands fa-youtube"></i></a>
        <a href="#"><i id="insta" class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="retangulo">
        <h1>Entre em contato conosco</h1>
        <p>
            <label>Nome:
                <input type='text' name="nomeCont" class='inputs' id="nomeCont"/>
            </label>
        </p>
        <span class="error-message" id="nomeContError"></span>
        <p>
            <label>Email:
                <input type='text' name="emailCont" class='inputs' id="emailCont"/>
            </label>
        </p>
        <span class="error-message" id="emailContError"></span>
        <p>
            <label>Telefone:
                <input type='text' name="telCont" class='inputs' id="telCont"/>
            </label>
        </p>
        <span class="error-message" id="telContError"></span>
        <p>
            <label>Assunto:
                <input type='text' name="assuntoCont" class='inputs' id="assuntoCont"/>
            </label>
        </p>
        <span class="error-message" id="assuntoContError"></span>
        <p>
            <label>Mensagem:
                <textarea name="mensCont" class="inputs" id="mensg"></textarea>
            </label>
        </p>
        <span class="error-message" id="mensgError"></span>
        <button id="btnContato">Enviar</button>
        <span class="success-message" id="contatoSuccessMessage"></span>
    </div>
</div>


<script src="scriptVoluntario.js"></script>

</body>
</html>